html {
    /*当然可以直接在html的head中全局地定义*/
    font-size: 1px;
    font-family: 'Open Sans', sans-serif;      
    }
html {
    background-color: rgb(216, 206, 206);
    }
body {
    margin: 5 0;
    border: 5px solid black;
    padding: 10px 10px 10px 10px;
    background-color: white;
    }      
h1, h2, h3, h4 {
    margin: 10px 0;
    padding: 0 0;
    background-color:#c2d4e5;
    color: black;
    font-size: 20px;
    text-align: left;
    }
li {
    font-size: 15px;
    /* line-height 后面可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
    /*line-height: 1;*/
    /*letter-spacing: 1px;*/
    }  
button {
    margin: 0 0;
    padding: 0 0 0 0;
}
.UserButton {
    border-style: none;
    font-size: 15px;
    background-color: white;
}

img.ModuleImage {
    /*display: block;*/
    padding: auto auto auto 0;
    width: 200px;
    height: auto;
    border-style: dashed;
    border-width: 2px;
    border-color: black;
    }
img.IconImage {
    margin: 0 0;
    padding: 0 0 0 0;
    height: 10px;
    }
  